@model FinanzasCF.ViewModel.Persona.AddEditViewModel
<h1 class="page-header">Editar Agregar Usuario</h1>
<form action="@Url.Action("AddEdit")" method="post">
    @Html.HiddenFor(x => x.IDPersona)   
    <h4>Familia: </h4>
    <div class="form-group">            
        <label class="col-sm-2">Nombre:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Nombre, new { @class ="form-control"})
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">Apellido:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Apellido, new { @class = "form-control" })
        </div>
    </div>        
    <br>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <hr />    
</form>

